*~
*.lso
*.gise
*.xise
*.html
*.cmd_log
*/iseconfig/
iseconfig/
*.prj
*.txt
*.exe
*.wdb
/_xmsgs/
*.cmd
*.log
*.ini
/isim/
*.xmsgs
*.ngc
*.ngr
*.stx
*.syr
*.xst
*.xml
*.xrpt
isim/
xst/
*.xwbt
*.ncd
*.bgn
*.bit
*.bld
*.ngd
